html,body {width: 100%; height: 100%; padding: 0px; margin: 0px; font-family: verdana; }

.container {
	width: 100%; 
	height: 100%; 
	display:flex;
	flex-direction: row;
}

.container div.game{
	width: 300px; 
	height: 300px;
	border-bottom: 1px solid black;
	font-size: 14px;
}

.container div.board {
	width: 300px;
	height: auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 14px;
	
}

.container div.board div.score {
	width: 100%; 
	height: 50px;
	border-bottom: 1px solid black;
	line-height: 50px;
	text-align: center;
}

.container div.board div.moves {
	width: 100%; 
	height: auto;
}


.container div.board div.moves div.count {
	width: 100%; 
	height: 50px;
	border-bottom: 1px solid black;
	line-height: 50px;
	text-align: center;
}

.container div.board div.moves div.list {
	width: 100%; 
	
	border-bottom: 1px solid black;
	padding: 5px 0px;
}

span.green-span{
	color: green;
}
span.red-span{
	color: red;
}
span.blue-span{
	color: blue;
}

span.mov{
	padding: 0px 3px;
	margin: 5px 0px;
	font-size: 12px;
	line-height: 20px;
	font-family: verdana;
}

div.gameBoardCols {
	display: flex;
	flex-direction:row;
}


div.gameBoardCols div.col {
	width: 49px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-left: 1px solid #DDD;
}
div.gameBoardCols div.col:last-child {border-right: 1px solid #DDD;}
div.gameBoardRGB {
		width: 250px;
		height: 250px;
		left: 0px;
		top: 0px;
		position: relative;
}

div.down {
	width: 100%; 
	height: auto;
	display: flex;
	flex-direction: row;
}

div.rows {
	width: 50px;
}

div.rows div.row {
	width: 50px;
	height: 49px;
	line-height: 50px; 
	text-align: center;
	border-top: 1px solid #DDD;
}


div.player {
	width: 50px; height: 50px;
	z-index: 3;
	border: 1px solid #DDD;
	text-align: center;
	line-height: 50px;
	position: absolute;
}
div.box {
	width: 50px; height: 50px;
	border: 1px solid #DDD;
	text-align: center;
	line-height: 50px;
	position: absolute;
}

.over {
	padding: 15px 0 0;
	text-align: center;
	display:none;
}

.move {padding: 0 5px 0 5px;}


.rule {
	width: 500px; height: 500px; border: 1px solid #DDD;
	border-radius: 7px;
	padding: 5px; position: absolute;
	left: 10px; top: 10px;
	display: none;
	
}
